INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
conftest
conftest.erl
config.guess
config.guess.cdbs-orig
config.log
config.status
config.sub
config.sub.cdbs-orig
configure
configure.ac
configure.lineno
configure.tmp
depcomp
erl_crash.dump
libtool
ltmain.sh
py-compile
install-sh
missing
scndlp.app
scndlp.rel
*.beam
*.swp
*.boot
*.script
*~
package_version
package_revision
src/scndlp/overview.edoc
src/scndlp/*.html
!src/scndlp/denied_page.html
src/scndlp/*.log
src/scndlp/*.pid
src/scndlp/scndlp_license.erl
src/scndlp/example/*.html
src/scndlp/deprecated/*.html
src/scndlp/edoc-info
src/scndlp/erlang.png
src/scndlp/stylesheet.css
src/scndlp/scndlp_nlp_tr_kokler.txt
src/scndlp/Mnesia.*/
src/thrift/gen-erl/
src/thrift/gen-java/
src/thrift/gen-php/
src/thrift/gen-py/
src/thrift/gen-cpp/
debian/changelog
debian/files
debian/scndlp.debhelper.log
debian/scndlp.substvars
debian/scndlp
debian/scndlp.*.debhelper
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/stamp-autotools
debian/stamp-makefile-install
tmp/
